<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- As a link -->
   
    <!-- As a heading -->
<div class="master">
  <div> <%- include("components/sidebar") %></div>


    <div class="IndexBody">
     
     <% if (message.length > 0) { %>
     
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  
   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
</svg>
    <%= message %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
</div>
     <% } %>

 
        <div class="btnWidth">
          <select id="selectbtn" class="form-select" aria-label="Default select example">
  <option selected>All</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

<div id="searchbtn">
  <form method="POST" action="/employee/search" >
<input type="text" class="form-control" name="searchTerm" id="formGroupExampleInput" placeholder="Search Employee or Position"  >
  </form>
</div>
          <a href="/employee/create" class="btnAdd">
           <ion-icon name="add"></ion-icon>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Profile Picture</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                 <th scope="col">Action</th>
              </tr>
            </thead>
            <% if (employee != '') { %>

            <% employee.forEach(employee => { %>
              <tbody>
              <tr>
                <th scope="row"> <img src="/upload/<%= employee.image %>"  class="img-thumbnail" width="60px" height="60px" alt="" > </th>
                <td><%= employee.name %> </td>
                <td><%= employee.age %></td>
                <td><%= employee.department.name %></td>
               
                <td><%= employee.email %></td></td>
              
                <td>
                  <a href="/employee/edit/<%= employee.id %>" type="button" class="btnedit">
                    <ion-icon name="create-outline"></ion-icon>
                  </a>
                  
                  <a href="/employee/delete/<%= employee.id %>" type="button" class="btndelete">
                    <ion-icon name="trash-outline"></ion-icon>
                  </a>
                </td>
              </tr>
            </tbody>
            <% }) %>
            <%} else {%>
<P style="font-size: 25px; font-weight:600; text-align:center;"> No record of Employees</P>
 <% }%>
 
          </table>
        </div>
      </div>
    </div>
</div>


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
